body{background:#006600;margin:0;}
#hitarea{
  position:absolute; 
  left:50%;
  margin-left:-250px;
  width:500px;
  height:500px;
}

.hitbox{
    width:100px;
    height:100px;
    float:left;    
}

/* eyes */
.eye{
  position:absolute;
  width:100px;
  height:100px;
  background: #fff;
  border-radius:50px;
  left:25%;
  top: 40%;  
  pointer-events: none;    
}

.eye+.eye{
    left: 55%; 
}

.pupil{
  position:relative;
  width:35px;
  height:10px;
  background:#000;
  border-radius:2px;
  left:50%;
  top:50%;
  margin:-12px 0 0 -18px;
  -webkit-transition: all .5s ease;
}

.eyelid{
    width:150px;
    height: 100px;
    position:absolute;
    left:20%;
    top: 25%;  
    pointer-events: none;
    background: #006600;
    -webkit-animation-name:             blink; 
    -webkit-animation-duration:         4.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
    -webkit-animation-direction:        alternate;
    -webkit-animation-delay: 1s; 
    -webkit-transition: all .5s ease;
    
}

.eyelid+.eyelid{
    left: 50%; 
}

/* Blinking eyes */
@-webkit-keyframes blink{
  0%{
    top:25%;
  }
 95%{
    top:25%;
  }
  100%{ 
    top:40%;
  }
}

/* hover events */

/* eye lids */
.hitbox:hover ~ .eyelid{
    -webkit-transform: rotate(-10deg);
}
.hitbox:hover ~ .eyelid:nth-of-type(2n+1){
    -webkit-transform: rotate(10deg);
}
#c-3:hover ~ .eyelid{
    -webkit-transform: rotate(15deg);
}
#c-3:hover ~ .eyelid:nth-of-type(2n+1) {
    -webkit-transform: rotate(-15deg);
}

/* pupils */

#a-1:hover ~ .eye > .pupil{
  background: #808000;
    -webkit-transform:  translate(-25px, -15px);
}

#a-2:hover ~ .eye > .pupil{
  background: #808000; 
    -webkit-transform:  translate(-10px, -15px);
}

#a-3:hover ~ .eye > .pupil{
  background: #808000;
    -webkit-transform: translate(0px, -15px);
}

#a-4:hover ~ .eye > .pupil{
  background: #808000;
    -webkit-transform: translate(10px,-15px);
}

#a-5:hover ~ .eye > .pupil{
    -webkit-transform: translate(25px, -15px);
}

#b-1:hover ~ .eye > .pupil{
    background: #608000;
    -webkit-transform: translate(-25px,-10px) ;
}

#b-2:hover ~ .eye > .pupil{
  background: #608000;
    -webkit-transform: translate(-10px,-10px);
}

#b-3:hover ~ .eye > .pupil{
  background: #608000;
    -webkit-transform: translate(0px, -10px);
}

#b-3:hover ~ .eye:nth-of-type(2n+1) > .pupil {
  background: #608000;
    -webkit-transform: translate(-5px,-10px);
}

#b-4:hover ~ .eye > .pupil{
  background: #608000;
    -webkit-transform:  translate(10px,-10px);
}

#b-5:hover ~ .eye > .pupil{
  background: #608000;
    -webkit-transform: translate(25px,-10px);
}

#c-1:hover ~ .eye > .pupil{
  background: #408000;
    -webkit-transform: translate(-25px);
}

#c-2:hover ~ .eye > .pupil{
  background: #408000;
    -webkit-transform:  translate(-10px);
}

#c-3:hover ~ .eye > .pupil{
    background: red;
    -webkit-transform: rotate(180deg) translate(-25px);
}

#c-3:hover ~ .eye:nth-of-type(2n+1) > .pupil {
 background: red;
    -webkit-transform: rotate(0deg) translate(-25px);
}

#c-4:hover ~ .eye > .pupil{
  background: #408000;
    -webkit-transform:  translate(10px);
}

#c-5:hover ~ .eye > .pupil{
  background: #408000;
    -webkit-transform:  translate(25px);
}

#d-1:hover ~ .eye > .pupil{
  background: #208000;
    -webkit-transform: translate(-25px,10px);
}

#d-2:hover ~ .eye > .pupil{
  background: #208000;
    -webkit-transform: translate(-10px,10px);
}

#d-3:hover ~ .eye > .pupil{
  background: #208000;
    -webkit-transform: translate(0px,10px);
}

#d-3:hover ~ .eye:nth-of-type(2n+1) > .pupil {
  background: #208000;
    -webkit-transform:  translate(0px,10px);
}

#d-4:hover ~ .eye > .pupil{
  background: #208000;
    -webkit-transform:   translate(25px,10px);
}

#d-4:hover ~ .eye:nth-of-type(2n+1) > .pupil{
  background: #208000;
    -webkit-transform: translate(-10px, 10px);
}

#d-5:hover ~ .eye > .pupil{
  background: #208000;
    -webkit-transform:translate(-25px,10px);
}

#e-1:hover ~ .eye > .pupil{
  background: #008000;
    -webkit-transform:  translate(-25px,25px);
}

#e-2:hover ~ .eye > .pupil{
  background: #008000;
    -webkit-transform:  translate(-10px,25px);
}

#e-3:hover ~ .eye > .pupil{
  background: #008000;
    -webkit-transform: translate(-0px,25px);
}

#e-3:hover ~ .eye:nth-of-type(2n+1) > .pupil {
  background: #008000;
    -webkit-transform: translate(-0px,25px);
}

#e-4:hover ~ .eye > .pupil{
  background: #008000;
    -webkit-transform: translate(10px,25px);
}

#e-4:hover ~ .eye:nth-of-type(2n+1) > .pupil{
  background: #008000;
    -webkit-transform: translate(10px,25px);
}

#e-5:hover ~ .eye > .pupil{
  background: #008000;
    -webkit-transform: translate(25px,25px);
}